
.nav-colors {
  background-color: rgba(0, 69, 119, 0.9); 
  height: 50px;
  color: white;
}

.title {
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.00em;
  font-variant: small-caps;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 0px;
  font-size: 21px;
  margin-bottom: 0px;
}

.sub-title {
  color: white;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  text-align: center;
}

.address {
  padding-top: 0px;	
  color: white;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  text-align: left;
  font-size: 18px;
}

.contact-us {
  padding-top: 0px;  
  color: white;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  text-align: right;
  font-size: 18px;
}
.white {color:white;}


