
.nav-colors {
  background-color: rgba(0, 69, 119, 0.9); 
  height: 100px;
  color: white;
}

@media (max-width: 991px) { 

  .nav-colors {
    height: 130px;
  }

}

@media (max-width: 768px) { 

  .nav-colors {
    height: 200px;
  }

  address.address {
   padding-top: 10px;
   text-align: center;
   margin-bottom: 0px;
   
  }
  .col-sm-3 {
    height: 70px;
  } 

  address.contact-us {
   padding-top: 0px;
  } 

}

.title {
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.00em;
  font-variant: small-caps;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  font-size: 21px;
  margin-bottom: 0px;
}

.sub-title {
  color: white;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  text-align: center;
}

.address {
  padding-top: 20px;	
  color: white;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  text-align: left;
  font-size: 18px;
}

.contact-us {
  padding-top: 20px;  
  color: white;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  text-align: center;
  font-size: 18px;
}
.white {color:white;}


