<div class="row nav-colors"> 
  <div class="col-sm-3" > 
      <p class="title">{{ titleDisplayed }}</p>
      <p class="sub-title"><em> {{ subTitleDisplayed }} </em></p>
      <address class="sub-title">
        Address: <br/>
		2120 Omaga Road <br/>
		San Ramon <br/>
		CA, 94583 <br/>
	  </address>
  </div>
  <div class="col-sm-6" > 

  </div>
  <div class="col-sm-3" > 
    <address class="contact-us">
	     <p> Contact Us: </p>
	     <a href="tel:+19253258097"><i class="fa fa-phone fa-lg" ></i></a> &nbsp; (925) 325-8097 <br/>
	     <a href="tel:+19253258097"><i class="fa fa-phone fa-lg" ></i></a> &nbsp; (925) 325-8097 <br/>
	     <a href="mailto:anu@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; anu@peaceflowermontessori.com <br/>
	     <a href="mailto:tan@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; tan@peaceflowermontessori.com
    </address> 
  </div>
</div>