<div class="row nav-colors">
  <div class="col-md-3 col-xs-6" > 
    <address class="address">
      2120 Omega Road <br/>
	    San Ramon CA 94583
     </address>
   </div>
  <div class="col-md-6 hidden-sm-down" > 
    <p class="title">{{ titleDisplayed }}</p>
    <p class="sub-title"><em> {{ subTitleDisplayed }} </em></p>
   </div>
  <div class="col-md-3 col-xs-6" > 
    <address class="contact-us">
     <a href="tel:+19253258097"><i class="fa fa-phone fa-lg" ></i></a> &nbsp; (925) 325-8097 <br/>
     <a href="mailto:anu@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; <a href="anu@peaceflowermontessori.com"> <i class="white"> Email </i></a>
    </address> 
  </div>
</div>

