.image-position {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 550px;
}

.profile-image-position {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 300px;
	height: 350px;
	image-orientation: from-image;
	border: 5px solid black;
	border-radius: 25px;
}

.custom-size {
  font-size: 18px;
}

.title-size {
	width: 350px;
}

