<div class="row"> 
  <div class="col-sm-12">
   <p>{{TeachersDisplayed}}</p>
  </div>
</div>
<div class="row"> 
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top profile-image-position " src="../../assets/images/profilePic.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Anuradha Sala</h4>
        <p class="card-text">Deeply motivated and reliable Montessori Teacher with stellar record of classroom and administrative achievement with 14 years of experience. Able to function well independently and as a member of a Montessori education team. Strong ability to coordinate with parents and guardians as well as other Montessori Teachers and School staff. Excellent at teaching strategies for children in various stages of development. Has experience working with children with challenging behaviors and disabilities. Received several appreciations and honors from many parents and teachers for valuable contributions as teacher, head teacher and administrator.</p>
        <h5 class="card-title">Education</h5>
        <ul>
          <li>Montessori Early childhood Credentials, American Montessori Society (AMS)</li>
          <li>Certificate in Montessori training, California State University, East Bay.</li>
          <li>Early Child Development Units, Vanguard University of Southern California</li>
          <li>ECD Administration, Chabot-Las Positas Community College </li>
          <li>Bachelor’s Degree in Commerce, Andhra University, India</li>
        </ul>
        <h5 class="card-title">Experience</h5>
          <table>
            <tr>
              <td><b>Hacienda Child Development Center, Pleasanton, CA</b></td>
            </tr>
            <tr>
              <td>Head/Preschool-Kindergarten teacher</td>
              <td>Jul 2014 - Nov 2016 </td>
            </tr>
            <tr>
              <td>Lead Teacher in preschool(3-6)</td>
              <td>Jun 2011 - Jun 2014</td>
            </tr>
            <tr>
              <td>Teacher in preschool (3-6)</td>
              <td>Jun 2007 - Jun 2011</td>
            </tr>
            <tr>
              <td><b>Kiddin’Around, Childcare facility, Coppell, TX.</b></td>
            </tr>
            <tr>
              <td>Supervisor/Teacher</td>
              <td>Mar 2003 - Oct 2006 </td>
            </tr>
            <tr>
              <td><b>Moore Elementary school in Coppell, TX</b></td>
            </tr>
            <tr>
              <td>Volunteer, 2nd Grade</td>
              <td>2002- 2003 </td>
            </tr>
            <tr>
              <td>Volunteer, 1st Grade </td>
              <td>2001-2002 </td>
            </tr>
          </table>
      
      </div>
    </div>
  </div>
  <div class="col-sm-6">
   <div class="card">
      <img class="card-img-top profile-image-position " src="../../assets/images/profilePic.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tandrima Bandyopadhyay</h4>
        <p class="card-text">My name is Tandrima Bandyopadhyay and I’m a partner/owner of Peace Flower Montessori. As a mother of two children, as well as an educator, I believe all kids deserve to have a safe educational environment to learn and grow in.  We strive every day to provide a lasting Montessori education in each child that comes through our center.</p>
        <h5 class="card-title">Education</h5>

        <ul>
          <li>Montessori credential from Cal state east bay(extension program), 2016</li>
          <li>28 ECE units including administrative, completed from Ohlone and Las Positas college, 2010</li>
          <li>Master in Geography, University Of Calcutta, 1995</li>
          <li>Bachelor degree in Education and human development , University of Calcutta, 1996 </li>
          <li>Certified Medical assistant(Boston reed college)</li>
          <li>Trained in the program for infant and toddler Caregivers (PITC), 2006</li>
          <li>Infant, child CPR Certified (2014)</li>
        </ul>
        <h5 class="card-title">Experience</h5>
          <table>
            <tr>
              <td><b>Fountain Head Montessori School</b></td>
            </tr>
            <tr>
              <td>Preschool-Kindergarten teacher</td>
              <td>March 2013 - 2017 </td>
            </tr>
            <tr>
              <td><b>Hacienda Child Development center.</b></td>
            </tr>
            <tr>
              <td>Preschool teacher</td>
              <td>Dec 2006 - March 2013 </td>
            </tr>
            <tr>
              <td><b>Kidango</b></td>
            </tr>
            <tr>
              <td>Infant – toddler teacher assistant</td>
              <td>May 2006 - Dec 2006</td>
            </tr>
            <tr>
              <td><b>Med. Care LLC</b></td>
            </tr>
            <tr>
              <td> Medical assistant</td>
              <td>September 2005 - Dec 2006</td>
            </tr>
            <tr>
              <td><b>Parkmont elementary school</b></td>
            </tr>
            <tr>
              <td>Volunteer, 2nd grade math program coordinator</td>
              <td></td>
            </tr>
          </table>
      
      </div>
    </div>
  </div>
</div>