<div class="row"> 
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="alert alert-success custom-bg" role="alert" *ngIf="!!message">
      {{message}}
    </div>
    <div class="alert alert-danger custom-bg" role="alert" *ngIf="!!errorMessage">
      {{errorMessage}}
    </div>
    <div class="custom-bg" *ngIf="!message">
        <h1 style="text-align: center;">Admissions Contact Form</h1>
        <form (ngSubmit)="onSubmit(admissionsForm)" #admissionsForm="ngForm">
          <div class="form-group">
            <label for="name">Student’s full name <span>*</span></label>
            <input type="text" class="form-control" name="name" id="name" required ngModel>
          </div>

          <div class="form-group">
            <label for="dateOfBirth">Date of birth <span>*</span></label>
            <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth" required ngModel>
          </div>

          <div class="form-group">
              <label for="sex">Sex <span>*</span></label>
              <select class="custom-select form-control" required name="sex" id="sex" ngModel>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
             </select>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <textarea rows="4" class="form-control" name="address" id="address" ngModel>
            </textarea>
          </div>

          <div class="form-group">
            <label for="parent_guardian">Parent/ Guardian Name <span>*</span></label>
            <input type="text" class="form-control" name="parent_guardian" id="parent_guardian" required ngModel>
          </div>
          
          <div class="form-group">
            <label for="contact_phone">Contact Phone Number <span>*</span></label>
            <input type="tel" class="form-control" id="contact_phone" name="contact_phone" required ngModel>
          </div>

          <div class="form-group">
            <label for="email">Email Address <span>*</span></label>
            <input type="email" class="form-control" name="email" id="email"  required ngModel>
          </div>
          <div class="form-group">
            <label for="allergies">Allergies</label>
            <textarea rows="4" class="form-control" name="allergies" id="allergies" ngModel>
            </textarea> 
          </div>
          <div class="form-group">
            <label for="special_needs">Special needs</label>
            <textarea rows="4" class="form-control" name="special_needs" id="special_needs" ngModel>
            </textarea> 
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
