
<h1 style="text-align: center;">Admissions Contact Form</h1>
<form id="gform" method="POST" class="pure-form pure-form-stacked"
  action="https://script.google.com/macros/s/AKfycbzMGgPjWOQTstsqo3GAHPM130yYV4heoF0E17cUfn9JIrAxkRc/exec">
    <!-- change the form action to your script url -->

    <fieldset>
      <label for="name"> Student's Full Name: </label>
      <input id="name" name="name" placeholder="Student's Full Name" />
    </fieldset>

    <fieldset>
      <label for="dateOfBirth">Date of birth: </label>
      <input type="date" id="dateOfBirth" name="dateOfBirth" />
    </fieldset>

    <fieldset>
      <label for="sex">Sex: </label>
      <input type="radio" name="sex" id="sex" value="male" /> Male 
      <input type="radio" name="sex" id="sex" value="female"/> Female
    </fieldset>

    <fieldset>
      <label for="address">Address</label>
      <textarea rows="4" name="address" id="address" placeholder="Address">
      </textarea> 
    </fieldset>

    <fieldset>
      <label for="parent_guardian">Parent/Guardian Name: </label>
      <input id="parent_guardian" type="text" name="parent_guardian" placeholder="Parent/Guardian Name" />
    </fieldset>

    <fieldset>
      <label for="contact_phone">Contact Phone Number:</label>
      <input id="contact_phone" name="contact_phone" type="tel"
       placeholder="Contact Phone Number" />
    </fieldset>

    <fieldset>
      <label for="email">Contact Email Address:</label>
      <input id="email" name="email" type="email" placeholder="Contact Email Address" />
      <span id="email-invalid" style="display:none">
        Must be a valid email address</span>
    </fieldset>

    <fieldset>
      <label for="allergies">Allergies</label>
      <textarea rows="4" name="allergies" id="allergies" placeholder="Allergies">
      </textarea> 
    </fieldset>

    <fieldset>
      <label for="special_needs">Special needs</label>
      <textarea rows="4" name="special_needs" id="special_needs" placeholder="Special needs">
      </textarea> 
    </fieldset>

    <button class="button-success pure-button button-xlarge">
      <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

  </form>

  <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none; text-align: center;" id="thankyou_message">
    <p><em>Thanks</em> for contacting us!
      We will get back to you soon!</p>
  </div>
