<div class="row"> 
  <div class="col-sm-6">
  <div style="background-color: white">
    <address class="contact-us">
       <p> Contact Us: </p>
       <a href="tel:+19253258097"><i class="fa fa-phone fa-lg" ></i></a> &nbsp; (925) 325-8097 <br/>
       <a href="mailto:anu@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; anu@peaceflowermontessori.com <br/>
       <a href="mailto:tan@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; &nbsp; tan@peaceflowermontessori.com
    </address> 
  </div>
  </div>
  <div class="col-sm-6">
  <div style="background-color: white">
    <address class="contact-us">
    <p> Find Us: </p>
    2120 Omega Road <br/>
    San Ramon <br/>
    CA 94583 <br/>
    </address>
  </div>
  </div>
</div>

 
