<div class="row"> 
  <div class="col-sm-12">
    <address class="contact-us">
       <p><strong>Contact Us:</strong></p>
       <div class="custom-bg">
         <a href="tel:+19253258097"><i class="fa fa-phone fa-lg" ></i></a> &nbsp; (925) 325-8097 <br/>
         <a href="mailto:anu@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; anu@peaceflowermontessori.com <br/>
         <a href="mailto:tan@peaceflowermontessori.com"><i class="fa fa-envelope-o fa-lg" ></i></a> &nbsp; &nbsp; tan@peaceflowermontessori.com
       </div>
    </address> 
  </div>
</div>

<div class="row"> 
  <div class="col-sm-12">
    <address class="contact-us">
    <p><strong>Find Us:</strong></p>
      <div class="custom-bg">
        2120 Omega Road <br/>
        San Ramon <br/>
        CA 94583 <br/>
      </div>
    </address>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-12 contact-us">
    <iframe class="hidden-xs-down" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.3057858280695!2d-121.98261264966239!3d37.782872979658556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808ff2dabc3cc187%3A0x3cd7a99529656f42!2sPeace+Flower+Montessori!5e0!3m2!1sen!2sus!4v1506818915883" width="400" height="300" frameborder="0" style="border:0" allowfullscreen ></iframe>
    <iframe class="hidden-sm-up" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.3057858280695!2d-121.98261264966239!3d37.782872979658556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808ff2dabc3cc187%3A0x3cd7a99529656f42!2sPeace+Flower+Montessori!5e0!3m2!1sen!2sus!4v1506818915883" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>



 
