.contact-us {
  padding-top: 20px;	
  font-family: 'Georgia', serif;
  font-weight: lighter;
  letter-spacing: -0.02em;
  font-size: 20px;
  text-align: center;
}

.custom-bg {
	width: 500px;
	text-align: center;
	margin:0 auto;
}

@media (max-width: 576px) { 

	.custom-bg {
		width: 350px;
		text-align: center;
		margin:0 auto;
		padding: 5px;
		
	}
}

