<div class="row centering"> 
  <div class="col-sm-12">
    <h2>{{titleDisplayed}}</h2>
    <h4>{{subTitleDisplayed}} </h4>
    <br/>
    <div *ngFor="let option of optionsDisplayed">
      <div class="custom-bg custom-width">
        <h5><b> {{option.optionTitle}}:</b></h5>
        <h6><b> {{option.optionSubTitle}} </b></h6>
        <table> 
          <tr *ngFor="let timing of option.timings"><td>{{timing.days}}</td><td>${{timing.cost}} </td></tr>
        </table>
        <br *ngIf="!!option.optionSubTitle2"/>
        <h6 *ngIf="!!option.optionSubTitle2"><b>{{optionsDisplayed[2].optionSubTitle2}}</b></h6>
        <table *ngIf="!!option.timings2">
          <tr *ngFor="let timing of option.timings2"><td>{{timing.days}}</td><td>${{timing.cost}} </td></tr>
        </table>
      </div>
      <br/>
    </div>
  </div>
  <div class="col-sm-12">
  <br/>
   <ul>
     <li *ngFor="let info of moreInfoDisplayed"> {{info}}
     </li>
   </ul>
  </div>
</div>