<div class="row"> 
  <div class="col-sm-12">
   <img class="image-position" src="../../assets/images/outsideView2.jpg">
  </div>
</div>
<br/>
<div class="row"> 
  <div class="col-sm-12">
   <p>Our classrooms are arranged so that children ages three, four and five are in the same room. This allows the older children to explore at a different level and also serve as role models for the younger ones. Exposing children to different age groups allows for seamless transitions within the groups. We also try to have the same teacher for those three years, which aids in a close teacher-student relationships. The multi-age aspect encourages older children to guide and be role models to the younger children thereby building confidence and strong self-esteem. </p>
   <p>
	Peace Flower Montessori ( Over all): Comfortable, spacious study area, outside playground, convenient location, close to freeway, provides snacks. Assists each student individually according to different levels, provides various Montessori materials to build up confidence, help with the completion of work.
	In Peace Flower Montessori, We have low teacher - children ratio and healthy and developmentally appropriately prepared environment for the children. Our well trained and experienced teachers provide creative lesson plans, that  attracts the children. Peace Flower Montessori celebrate several events with parents like fathers day, mothers day, and field trips during the year.</p>
  </div>
</div>