<div class="row"> 
  <div class="col-sm-6" *ngFor="let program of programsDisplayed">
    <div class="card">
      <img class="card-img-top profile-image-position " src="../../assets/images/kidsPlayingStub.jpg" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{program.title}}</h3>
        <p class="card-text custom-size">{{program.content}} <br> * Child to teacher ratio is 10:1 </p>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row"> 
  <div class="col-sm-12">
    <h3>Our Curriculum </h3>
    <p class="table custom-size">{{curriculumDisplayed}} </p>

    <table class="table custom-size"> 
            <tr  class="hidden-sm-down" *ngFor="let curriculumType of curriculumTypesDisplayed">
              <td><b>{{curriculumType.title}}</b></td>
              <td>{{curriculumType.content1}}
              <br *ngIf="!!curriculumType.content2"/> 
              <br *ngIf="!!curriculumType.content2"/>
              {{curriculumType.content2}}
              <br *ngIf="!!curriculumType.content3"/> 
              <br *ngIf="!!curriculumType.content3"/>
              {{curriculumType.content3}}
              <br/>
              <blockquote style="padding-left: 40px;margin: 1rem 0 0;"><em>{{curriculumType.quote}} 
              </em>
              </blockquote>

              <blockquote style="text-align: right"><em>{{curriculumType.by}}</em></blockquote>    
              </td>
            </tr>
            <p class="hidden-md-up" *ngFor="let curriculumType of curriculumTypesDisplayed">
              <tr><b>{{curriculumType.title}}</b></tr>
              <tr>{{curriculumType.content1}}
              <br *ngIf="!!curriculumType.content2"/> 
              <br *ngIf="!!curriculumType.content2"/>
              {{curriculumType.content2}}
              <br *ngIf="!!curriculumType.content3"/> 
              <br *ngIf="!!curriculumType.content3"/>
              {{curriculumType.content3}}
              <br/>
              <blockquote style="padding-left: 40px;margin: 1rem 0 0;"><em>{{curriculumType.quote}} 
              </em>
              </blockquote>

              <blockquote style="text-align: right"><em>{{curriculumType.by}}</em></blockquote>    
              </tr>
            </p>
    </table>        
  </div>
</div> 