<nav class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-faded nav-colors">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"> About Us</a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/programs" routerLinkActive="active"> Programs</a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/teachers" routerLinkActive="active"> Teachers</a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/reviews" routerLinkActive="active"> Reviews</a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/admissions" routerLinkActive="active"> Admissions</a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/tuition" routerLinkActive="active"> Tuition</a>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link dropdown-toggle" routerLink="/covid-19" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          COVID-19
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/covid-19/our-measures">Our Mesaures</a>
          <a class="dropdown-item" routerLink="/covid-19/online-classes">Online Classes</a>
        </div>
      </li>
      <li class="nav-item hidden-lg-up" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"> Contact Us</a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"> About Us</a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/programs" routerLinkActive="active"> Programs</a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/teachers" routerLinkActive="active"> Teachers</a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/reviews" routerLinkActive="active"> Reviews</a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/admissions" routerLinkActive="active"> Admissions</a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/tuition" routerLinkActive="active"> Tuition</a>
      </li>
      <li class="nav-item hidden-md-down dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/covid-19" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          COVID-19
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/covid-19/our-measures">Our Mesaures</a>
          <a class="dropdown-item" routerLink="/covid-19/online-classes">Online Classes</a>
        </div>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"> Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

