<div class="row nav-colors"> 
  <div class="col-sm-12"> 
    <ul class="nav justify-content-center nav-ul-custom">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enrollment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reviews">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</div>