<div class="row"> 
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <div class="card-img-bottom">
            Meenakshi & Sumit
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-block">
            <p class="card-text"><em>Its been a great pleasure to have "Anu" as our child's teacher. From the first day itself, she has been sensitive, supportive to our child's needs. As parents we have never seen any one more organized, well structured and at the top of every child needs (given that there were about 25-30 students in the class). What we also admire is the creativity which she brings to the class, she surely knows how to engage children in the best possible way which encouraging the creativity and the imagination of the young ones. </em></p>
            <p class="card-text"><em>Anu, thanks so much for what you have done for our child.</em></p>
            <p class="card-text metadata-date"><em>Dated August 12, 2017</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>    

 