<div *ngFor="let review of reviewsDisplayed">
  <div class="row"> 
    <div class="col-sm-12">
      <div class="card">
        <div class="row">
          <div class="col-md-3">
            <div class="card-img-bottom cardtext">
              <strong>{{ review.reviewer }}</strong>
            </div>
          </div>
          <div class="col-md-9 custom-bg">
            <div class="card-block">
              <p class="card-text cardtext"><em>{{ review.content1 }}</em></p>
              <p class="card-text cardtext"><em>{{ review.content2 }}</em></p>
              <p class="card-text cardtext" *ngIf="review.content3"><em>{{ review.content3 }}</em></p>
              <p class="card-text cardtext metadata-date"><em>Dated {{ review.date }}</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>    

 