.card-img-bottom {
  text-align: center;
  padding-top: 140px;
  color: rgba(0, 69, 119, 0.9);
  font-size: 1.5rem;
}

.metadata-date {
  color: rgba(41, 43, 44, 0.7);
  font-size: 0.8rem;  
}

.cardtext {
  font-size: 18px;
}