/* You can add global styles to this file, and also import other style files */
.card {
	background-color: #ccffff;
	border: 0px;
}
.custom-bg {
  background-color: white;
  border-radius: 25px;
  padding: 20px; 
}