<div class="row"> 
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-block block-custom">
            <h4 class="card-title title-custom">Our Mission Statement</h4>
            <p class="card-text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{missionStatementDisplayed}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-img-bottom">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/> 
<div class="row"> 
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-md-3"> <br/>
          <div class="circle">Why Peace Flower ?
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-block block-custom">
            <p class="card-text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{whyPeaceFlowerDisplayed}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
