<div class="row"> 
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <div class="card-block block-custom">
            <h3 class="card-title title-custom">Our Mission Statement</h3>
            <p class="card-text cardtext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{missionStatementDisplayed}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-img-bottom">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/> 
<div class="row"> 
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <div class="circle">Why Peace Flower ?
          </div>
        </div>
        <div class="col-md-9"> <br/>
          <div class="card-block block-custom">
            <p class="card-text cardtext"> {{whyPeaceFlowerDisplayed}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
