.card-img-bottom {
  color: #fff;
  height: 30rem;
  background: url(../../assets/images/kidPlaying.jpg) center no-repeat;
  background-size: cover;
}

.title-custom {
   text-align: center;
}

.block-custom {
   padding-top: 90px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 250px;
  text-align: center;
  background: rgba(0, 69, 119, 0.9);
}
