.card-img-bottom {
  color: #fff;
  height: 350px;
  background: url(../../assets/images/kidPlaying.jpg) center no-repeat;
  width: 200px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
}

.title-custom {
   text-align: center;
}

.block-custom2 {
   padding-top: 0px;
}
.block-custom {
   padding-top: 60px;
}

.why {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}

.cardtext {
  font-size: 18px;
}

@media (max-width: 576px) { 

  .block-custom {
   padding-top: 0px;
  }

}